.profile__image-edit-icon {
  height: 26px;
  width: 26px;
  background: url('../../../images/edit-icon.svg') center / 26px 26px no-repeat transparent;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.6s;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.profile__image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 0;
  transition: 0.6s;
}

.profile__image:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.profile__image:hover .profile__image-edit-icon {
  opacity: 100%;
}